@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Page";
}

<ul>
    <li><a href="/Ocr/WindowsSDKInput">Windows SDK</a></li>
    <li><a href="/Ocr/GcpInput">Google Cloud Vision API</a></li>
    <li><a href="/Ocr/AzureInput">Azure Computer Vision 3.1 REST API</a></li>
    <li><a href="/Ocr/AmazonInput">Amazon Textract API</a></li>
</ul>
